.App {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters input,
.filters label {
  margin-right: 10px;
}

.edit-list {
  list-style-type: none;
  padding: 0;
}

.edit-list li {
  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.edit-list li div {
  display: flex;
  flex-direction: column;
}

.edit-list li div p {
  margin: 5px 0;
}
